
<p-toast></p-toast>
<div class="card">
<p-dialog [(visible)]="bookDialog"  [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="currentBook.name" required autofocus />
    </div>

    <div class="field">
      <label for="category">Category</label>
      <textarea id="category" pInputTextarea [(ngModel)]="currentBook.category" required rows="3" cols="20"></textarea>
    </div>

    <div class="field">
      <label for="description">Description</label>
      <textarea id="description" pInputTextarea [(ngModel)]="currentBook.description" required rows="3" cols="20"></textarea>
    </div>
    <div class="field">
      <label for="author">Description</label>
      <textarea id="author" pInputTextarea [(ngModel)]="currentBook.author" required rows="3" cols="20"></textarea>
    </div>
    <div class="field">
      <label for="publisher">Description</label>
      <textarea id="publisher" pInputTextarea [(ngModel)]="currentBook.publisher" required rows="3" cols="20"></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple type="button" label="Back" class="p-button-outlined p-button-rounded" (click)="goBack()"><i class="pi pi-replay"></i> </button>
  </ng-template>
</p-dialog>
</div>
